[Unit]
Description=Filesystem Watcher (fanotify)

StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/python3 -m mirfatif.fs_watcher.fs_watcher --server

AmbientCapabilities=CAP_SYS_ADMIN CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=5
TimeoutStopSec=30

User=nobody
Group=nogroup

Environment=PYTHONUSERBASE=/PATH/TO/python_user_base

[Install]
WantedBy=multi-user.target
